* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;

  .container {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #1e2522;
    background-image: radial-gradient(at 47% 33%, #5d72b1 0, transparent 59%),
      radial-gradient(at 82% 65%, #75288a 0, transparent 55%);

    & article {
      color: white;
      background: white;
      padding: 2em;
      border-radius: 0.5em;
      display: flex;
      flex-direction: column;
      gap: 2em;
      backdrop-filter: blur(25px) saturate(120%);
      -webkit-backdrop-filter: blur(25px) saturate(120%);
      background-color: #40404066;
      width: 20%;
      box-shadow: 0 0 5em 1px #b395bc;

      & header {
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;

        & div:nth-child(1) {
          & img {
            margin: 1em 0;
            width: 10em;
            transition: 0.2s;

            &:hover {
              transform: rotate(360deg);
              box-shadow: 0 0 5em 1px #b395bc;
              border-radius: 50%;
            }
          }
        }

        & div:nth-child(2) {
          & h1 {
            font-size: xx-large;
          }
          & p {
            font-size: medium;
            color: #c9c9c9;
          }
        }
      }

      & main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 2em;

        & div:nth-child(1) {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5em;

          & span {
            border-radius: 0.5em;
            background: #604c82;
            padding: 0.5em;
          }
        }

        & div:nth-child(2) {
          & p {
            font-size: medium;
            color: #c9c9c9;
          }

          & h2 {
            color: #79ff79;
          }
        }

        & div:nth-child(3) {
          display: flex;
          justify-content: space-around;

          & img {
            width: 1.5em;
            transition: 0.2s;
            cursor: pointer;
            border-bottom: 1px solid transparent;

            &:hover {
              transform: translateY(-5px);
              border-bottom: 1px solid white;
            }
          }
        }

        & div:nth-child(4) {
          display: flex;

          & button {
            width: 100%;
            padding: 0.8em;
            border: none;
            border-radius: 0.5em;
            cursor: pointer;
            color: white;
            background: #614485;
            transition: 0.4s ease;
            font-weight: bold;
            font-size: medium;

            &:hover {
              background: #596b88;
            }
          }
        }
      }
    }

    @media (width <= 1024px) {
      & article {
        width: 80%;
      }
    }
  }
}
